alembic==1.2.1
altgraph==0.16.1
asn1crypto==1.1.0
astroid==2.3.1
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.1
blinker==1.4
bs4==0.0.1
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
cheroot==8.2.0
CherryPy==18.3.0
circleclient==0.1.6
Click==7.0
colorama==0.4.1
cryptography==2.7
cx-Freeze==6.0
cycler==0.10.0
decorator==4.4.0
Django==2.2.6
dominate==2.4.0
elasticsearch==7.0.5
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
future==0.18.0
geographiclib==1.50
geopy==1.20.0
ghost==0.6.1
Ghost.py==2.0.0.dev0
guess-language-spirit==0.5.3
idna==2.8
ipdb==0.12.2
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jaraco.functools==2.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.4.1
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.2
openpyxl==3.0.0
pandas==0.25.1
parso==0.5.1
peewee==3.11.2
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.2.0
portend==2.5
prompt-toolkit==2.0.10
psycopg2==2.8.3
pycparser==2.19
Pygments==2.4.2
PyInstaller==3.5
PyJWT==1.7.1
pylint==2.4.2
pyparsing==2.4.2
pypiwin32==223
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
pywin32==225
pywin32-ctypes==0.2.0
requests==2.22.0
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.4
SQLAlchemy==1.3.10
sqlparse==0.3.0
tempora==1.14.1
tinydb==3.15.0
tk==0.1.0
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.6
virtualenv==16.7.6
visitor==0.1.3
wcwidth==0.1.7
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
wxPython==4.0.6
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
xvfbwrapper==0.2.9
yandex-geocoder==1.0.0
yandex.translate==0.3.5
zc.lockfile==2.0
